<ion-view view-title="home" class="">
  <ion-content class="padding background">
  	<div class="row">
	  <div class="col"></div>
	  <div class="col"></div>
	  <div class="col"></div>
	  <div class="col"><br><br><br><br><br><br><br><br></div>
	</div>
  	<div class="card">
	  <div class="item item-text-wrap">
	    <h4>Hi, {{usermail}} ;</h4>You have to login first to Enter!<br>
	    {{data}}
	  </div>
	    
	</div>	
  </ion-content>
  	<div class="bar bar-footer customFooter">
  		<div class="row">
  			<div class="col">
  				<a href="#/login" class="button button-block custom-btn-color button-energized">
				  Login
				</a>		
  			</div>
  			<div class="col">
  				<a href="#/register" class="button button-block custom-btn-color button-energized">
				  Register
				</a>		
  			</div>
  		</div>
 		
	</div>	
</ion-view>