<ion-view view-title="Dashbord" class="padding">
	
  <ion-content class="padding">
  	<div class="">
	  <label class="item item-input">
	    <i class="icon ion-search placeholder-icon"></i>
	    <input type="text" placeholder="Search">
	  </label>
	</div>

	<ul class="list in-out-zone">

  <li class="item item-toggle">
     In Time
     <label class="toggle toggle-assertive">
       <input type="checkbox" id="timeInCheckbox1">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
  </li>
  <li class="item item-toggle">
     Out Time
     <label class="toggle toggle-assertive">
       <input type="checkbox" id="timeInCheckbox2">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
  </li>



</ul>
  </ion-content>
</ion-view>
